body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer{
    clear:both;
}

#register,#login{
    float: left;
    background-color: #f0f0f5;
    border-radius:5px;
    margin: 20px;
    padding-left:50px;
}

#error{
    display:none;
    background-color:crimson;
    border-radius:5px;
    color: white;
    margin-top:25px;
    text-align:center;
    padding:5px;
}

#chat{
    width : 260px;
    height : 660px;
    overflow-y:scroll;
    overflow-x:hidden;
    background-image: url("Images/wanwanchat.png");
}

#chat>p{
    width:240px;
    display:block !important;
    word-break:break-all;
}

#chat>input{
    width:160px;
}

.chat-container{
    width: 260px;
    height: 750px;
    /*border: 1px solid grey;*/
    margin-left:20px;
}

.chat-container, .canvas-container{
    float : left;
}

.chat-container>.send{
    width:100px;
}

.chat-container>.clear{
    margin-top:10px;
    width:260px;
}

body{
    background-color:white;
}

#canvas{
    background-color:aliceblue;
}

.eg{
    background-image: url(Images/wancanvas.png);
}

#wanwan{
    float:left;
}

#wanwan>a>img{
    float:left;
    width:450px;
    height:450px;
}

#wanwan>p{
    margin-top:250px;
    margin-left:100px;
    float:right;
    text-align:center;
    text-transform:uppercase;
}

.easter-egg{
    opacity:0;
}

#logica{
    position:absolute;
    left:50%;
    top:100px;
}

