USE [master]
GO
/****** Object:  Database [C:\USERS\JCALVO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\ILLOPINTU\ILLOPINTU\APP_DATA\ILLOPINTO.MDF]    Script Date: 27/01/2017 11:05:09 ******/
CREATE DATABASE [C:\USERS\JCALVO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\ILLOPINTU\ILLOPINTU\APP_DATA\ILLOPINTO.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'illopinto', FILENAME = N'c:\users\jcalvo\documents\visual studio 2015\Projects\illopintu\illopintu\App_Data\illopinto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'illopinto_log', FILENAME = N'c:\users\jcalvo\documents\visual studio 2015\Projects\illopintu\illopintu\App_Data\illopinto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C:\USERS\JCALVO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\ILLOPINTU\ILLOPINTU\APP_DATA\ILLOPINTO.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C:\USERS\JCALVO\DOCUMENTS\VISUAL STUDIO 2015\PROJECTS\ILLOPINTU\ILLOPINTU\APP_DATA\ILLOPINTO.MDF]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/01/2017 11:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
